{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12 col-12 ">
        <p class="mt-3">
            This site is only for showcase. I will add it to portfolio later.
        </p>
        <p>You need to login to see certain pages.Certain pages can only be seen with administrator privileges.
            I will continue to develop the features of this site. Features like admin changing homepage and other pages from admin dashboard.
            With the admin account you can add,edit and delete buildings,offices,and employees. It needs to be optimized for large desktops.

        </p>

    </div>
    {# I wansn't sure to set only role admin or any user
        is_granted('ROLE_ADMIN''IS_AUTHENTICATED_FULLY')
    #}
    {% if is_granted('ROLE_ADMIN')  %}
        <div class="col-lg-4">
        <table class="table table-hover table-dark">
            <thead class="thead-light">
                <tr>
                    <th>Last Employees:</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in lastAddedEmployee %}
                <tr>

                    <td class="text-center"><a class="text-white"href="{{ path('edit_employee', {'id': employee.id}) }}">{{  employee.name }}</a></td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
        </div>
        <div class="col-lg-4">

        <table class="table table-hover table-dark">
            <thead class="thead-light">
                <tr>
                    <th>Last Buildings:</th>
                </tr>
            </thead>
            <tbody>
            {% for building in lastAddedBuilding %}
                <tr>

                    <td class="text-center"><a class="text-white"href="{{ path('edit', {'id': building.id}) }}">{{  building.address }}</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
            <div class="col-lg-4">
        <table class="table table-hover table-dark">
            <thead class="thead-light">
            <tr>
                <th>Last Offices:</th>
            </tr>
            </thead>
            <tbody>
            {% for office in lastAddedOffice %}
                <tr>

                    <td class="text-center"><a class="text-white"href="{{ path('edit_office', {'id': office.id}) }}">{{  office.address }}</a></td>

                </tr>
            {% endfor %}

            </tbody>

        </table>
            </div>
    </div>

    {% endif %}

        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus metus at hendrerit dictum.
                Cras placerat luctus leo,
                a ullamcorper mauris rhoncus at. Donec tempus commodo nibh ac vulputate.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
                <p>
                    Etiam ultrices accumsan auctor. Donec maximus leo enim, at efficitur est luctus quis. Proin eget vestibulum nunc.
                    Pellentesque a aliquet urna.
                </p>
        </div>

        </div>
        <div >
            <img src="{{ asset('/build/images/show.gif') }}" class="img-fluid">

        </div>
    </div>
{% endblock %}
