{% extends('base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {

            $('.js-datepicker').datepicker({
                format:'yyyy-mm-dd'
            });

        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
    <h1>Hello</h1>
    {{ form_start(buildingForm) }}

        {{ form_widget(buildingForm) }}

    <button type="submit" class="btn btn-primary mb-5 pl-5 pr-5">Add</button>
    {{ form_end(buildingForm) }}
    </div>
{% endblock %}