{% extends('base.html.twig') %}

{% block title %}List of buildings{% endblock %}


{% block body %}
    <div class="container">

        <h2 class="">Building info ({{ pagination.getTotalItemCount }} buildings)
            <span class="ml-5">
                <a href="{{ path('add') }}"><button type="button" class="btn btn-primary" >Add</button></a>
            </span>
            {#<span class="ml-1">
                <a href=""><button type="button" class="btn btn-warning checkbox-show" id="edit" >Edit</button></a>
            </span>
            <span class="ml-1">
                <a href=""><button type="button" class="btn btn-danger" >Delete</button></a>
            </span>#}
        </h2>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Number</th>
                    <th>City</th>
                    <th>Windows</th>
                    <th>Overtime</th>
                    <th>Washed On *</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for building in pagination %}
                <tr>

                    <td>{{ building.address }}</td>
                    <td>{{ building.number }}</td>
                    <td>{{ building.city }}</td>
                    <td>{{ building.windows }}</td>
                    <td>{{ building.overtime }}</td>
                    <td>{{ building.dateWashed|date('m-d-Y') }}</td>
                    <td><span class="ml-1">
                <a href="{{ path('edit', {
                        id:building.id
                    })
                }}"><button type="button" class="btn btn-warning" >Edit</button></a>
            </span>
                    <span class="mt-1">
                <a href="{{ path('delete', {
            id:building.id}) }}"><button type="button" class="btn btn-danger" >Delete</button></a>
            </span>
                    </td>
                </tr>

                {% endfor %}

            </tbody>


        </table>
        <br>
        <p class="small">* mm/dd/yyyy</p>
        <div class="w-75 d-flex justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}




{% endblock %}

