{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {

            $('.js-datepicker').datepicker({
                format:'yyyy-mm-dd'
            });

        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(employeeForm) }}
        {{ form_widget(employeeForm) }}

        <button type="submit" class="btn btn-primary mb-5 pl-5 pr-5">Add</button>

        {{ form_end(employeeForm) }}

    </div>
{% endblock %}
